<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <!--/*/<th:block th:include="layouts/mainLayout :: head"></th:block>/*/-->
</head>
<body>
<div th:replace="layouts/mainLayout :: sidebar"></div>
<div th:replace="layouts/mainLayout :: nav"></div>

<div class="container">
    <form class="form-horizontal" method="POST">
        <fieldset>
            <div id="legend">
                <legend class="">Registration new user</legend>
            </div>
            <div class="control-group">
                <label class="control-label"  for="login">Username</label>
                <div class="controls">
                    <input type="text"
                           id="login"
                           name="login"
                           placeholder=""
                           class="input-xlarge"
                           th:if="${action==null || action != 'edit'}"
                           th:value="${user!=null?user.getLogin():''}">
                    <p th:if="${action!=null && action == 'edit'}" th:text="${user!=null?user.getLogin():''}">
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"  for="name">Name</label>
                <div class="controls">
                    <input type="text" id="name" name="name" placeholder="" class="input-xlarge" th:value="${user!=null?user.getName():''}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"  for="surname">Surname</label>
                <div class="controls">
                    <input type="text" id="surname" name="surname" placeholder="" class="input-xlarge" th:value="${user!=null?user.getSurname():''}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge" th:value="${user!=null?user.getEmail():''}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="phone">Phone</label>
                <div class="controls">
                    <input type="text" id="phone" name="phone" placeholder="" class="input-xlarge" th:value="${user!=null?user.getPhone():''}">
                </div>
            </div>
            <div class="control-group">
                <lable class="control-label" for="status">Status</lable>
                <div class="controls">
                    <select id="status" name="status">
                        <option value="A" th:selected="(${user!=null?user.status:'A'} == *{'A'})">Active</option>
                        <option value="D" th:selected="(${user!=null?user.status:'A'} == *{'D'})">Disabled</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <lable class="control-label" for="role">Role</lable>
                <div class="controls">
                    <select id="role" name="role" th:if="${action==null || action != 'edit'}">
                        <option value="U" th:selected="(${user!=null?user.role:'U'} == *{'U'})">User</option>
                        <option value="A" th:selected="(${user!=null?user.role:'U'} == *{'A'})">Admin</option>
                    </select>
                    <p th:if="${action!=null && action == 'edit'}" th:text="${user!=null?user.role:''}">
                    </p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-info" th:text="${user!=null?'Update User':'Add User'}">Add User</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div th:replace="layouts/mainLayout :: footer"></div>
</body>
</html>