<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us</title>
    <!--/*/<th:block th:include="layouts/mainLayout :: head"></th:block>/*/-->
</head>
<body>
<div th:replace="layouts/mainLayout :: nav"></div>
<div th:replace="layouts/mainLayout :: sidebar"></div>

<!-- Start team Area -->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">OUR TEAM</h1>
                    <p>We are developing extremely user friendly creditation system</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/ec/ec06752b48ab315752ad5742fe62d5fc05d555a3_full.jpg" width="200" height="222" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Toms Zvaigzne</h4>
                    <p>Developer/ Co-founder</p>
                    <p>"Java 2 – Agile Web Development" course student</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="https://scontent.fhen1-1.fna.fbcdn.net/v/t1.0-9/23844741_1564804603605718_8382331955001798382_n.jpg?oh=650960cd57d4ca7b9352a735e3dcc898&oe=5B3EFF7C" width="200" height="222" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="https://www.facebook.com/arthur.muray"><i class="fa fa-facebook"></i></a>
                        <a href="https://vk.com/arthurmuray"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/arthur-muray-48b13b98/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Arturs Murajs</h4>
                    <p>Developer/ Co-founder</p>
                    <p>"Java 2 – Agile Web Development" course student</p>
                </div>
            </div>
        </div>
    </div>
<!-- End team Area -->

<div th:replace="layouts/mainLayout :: footer"></div>
</body>
</html>