<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In</title>
    <!--/*/<th:block th:include="layouts/mainLayout :: head"></th:block>/*/-->
</head>
<body>
<div th:replace="layouts/mainLayout :: sidebar"></div>
    <div th:replace="layouts/mainLayout :: nav"></div>

    <div class="container">
        <form class="form-horizontal" method="POST">
            <fieldset>
                <div id="legend">
                    <legend class="">Password Change</legend>
                </div>
                <div class="control-group">
                    <label class="control-label" for="oldPassword">Old Password</label>
                    <div class="controls">
                        <input type="password" id="oldPassword" name="oldPassword" placeholder="" class="input-xlarge">
                        <p class="help-block">Insert old password</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                        <p class="help-block">Password should be at least 4 characters</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"  for="repPassword">Password (Confirm)</label>
                    <div class="controls">
                        <input type="password" id="repPassword" name="repPassword" placeholder="" class="input-xlarge">
                        <p class="help-block">Please confirm password</p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <p>Press button to login</p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-info">Log In</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div th:replace="layouts/mainLayout :: footer"></div>
</body>
</html>