<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In</title>
    <!--/*/<th:block th:include="layouts/mainLayout :: head"></th:block>/*/-->
</head>
<body>
    <div th:replace="layouts/mainLayout :: nav"></div>
    <div th:replace="layouts/mainLayout :: sidebar"></div>

    <div class="container">
        <form class="form-horizontal" method="POST">
            <fieldset>
                <div id="legend">
                    <legend class="">Log In</legend>
                </div>

                <div class="control-group">
                    <label class="control-label" for="login">E-mail</label>
                    <div class="controls">
                        <input type="text" id="login" name="login" placeholder="" class="input-xlarge" autofocus>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <p>Press button to login</p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-info">Log In</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div th:replace="layouts/mainLayout :: footer"></div>
</body>
</html>