<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Registration</title>
    <!--/*/<th:block th:include="layouts/mainLayout :: head"></th:block>/*/-->
</head>
<body>
    <h1 th:text="${h1Text}">Default test</h1>
    <div th:replace="layouts/mainLayout :: footer"></div>

    <form class="form-horizontal" action='/registration' method="POST">
        <fieldset>
            <div id="legend">
                <legend class="">Register</legend>
            </div>
            <div class="control-group">
                <label class="control-label"  for="login">Username</label>
                <div class="controls">
                    <input type="text" id="login" name="login" placeholder="" class="input-xlarge">
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                    <p class="help-block">Please provide your E-mail</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                    <p class="help-block">Password should be at least 4 characters</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"  for="password_confirm">Password (Confirm)</label>
                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                    <p class="help-block">Please confirm password</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"  for="name">Name</label>
                <div class="controls">
                    <input type="text" id="name" name="name" placeholder="" class="input-xlarge">
                    <p class="help-block">Name can contain any letters or numbers, without spaces</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"  for="surname">Surname</label>
                <div class="controls">
                    <input type="text" id="surname" name="surname" placeholder="" class="input-xlarge">
                    <p class="help-block">Surname can contain any letters or numbers, without spaces</p>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-info">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</body>
</html>