<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--/*/<th:block th:include="layouts/mainLayout :: head"></th:block>/*/-->
</head>
<body>
<div th:replace="layouts/mainLayout :: nav"></div>
<div th:replace="layouts/mainLayout :: sidebar"></div>
<div class="container">
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>Login</td>
                <td>Password</td>
                <td>Name</td>
                <td>Surname</td>
                <td>Email</td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="4">No users</td>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getLogin()}"></td>
                <td th:text="${user.getPassword()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getSurname()}"></td>
                <td th:text="${user.getEmail()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>