<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creditation</title>
    <!--/*/<th:block th:include="layouts/mainLayout :: head"></th:block>/*/-->
</head>
<body>
    <div th:replace="layouts/mainLayout :: nav"></div>
    <div class="container">
        <div th:replace="layouts/mainLayout :: banner"></div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
    <div th:replace="layouts/mainLayout :: footer"></div>
</body>
</html>